.sd{
        
     background-color:rgb(10, 10, 10);
     color: blue;
     height: 200px;
     width: 300px;
     text-align: justify;
    /* text-transform: uppercase;*/
     text-indent: 30px;
     border-color: rgb(10, 10, 10);
     border-style: dotted;
     border-width: 20px;
     border: 10px solid black;
    padding: 30px;
    outline: 5px dashed red;

    
 }

 .er {
    background-color: lightgrey;
    width: 300px;
    border: 100px solid green;
    outline: 100px solid red;
    outline-offset: 15px;
    padding: 50px;
    margin: 200px;
  }